<div [className]="classes.root">
  <hello ly-paper name="{{ name }}" color="primary"></hello>
  <button ly-button raised (click)="toggleTheme()">Toggle theme</button>
  <br />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, officiis optio! Quisquam quis voluptas eius corporis sed vitae aliquam similique odit praesentium, deserunt, laborum ad rem neque sapiente accusamus esse?
  </p>
  <button ly-button bg="primary" raised>primary</button>
  <button ly-button bg="accent" raised>accent</button>
  <button ly-button bg="warn" raised>warn</button>
  <button ly-button raised bg="SublimeLight">SublimeLight</button>
</div>
